<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <title>Amazona</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a href="index.html" class="brand">amazona</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>

            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="produt.html">
                                <h2>Himachal Apples</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">$120</div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                All rights reserved.
            </footer>
        </div>
    </body>
</html>